body {
  margin: unset;
  background-color: #f8f9fa;
}
img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
h1, h2 {text-align: center}
.top_news, .under_news {
  display: flex;
  flex-wrap: wrap;
}
.news_1 {
  flex: 0 0 50%;
  margin: 10px 15px;
  padding: 10px;
  border: medium solid black;
}
.news_2 {
  flex: 0 0 35%;
  margin-left: 6%;
  padding: 10px;
  border: medium solid black;
}
.img_1, .img_2{
  margin-left: 8%;
  flex: 0 0 35%;
}

@media screen and ( max-width:800px )
{
  body {
    padding: 10px;
    border: medium solid black;
  }
  img {
    object-fit: contain;
    width: 90%;
  }
  h1 {text-align: center;}
  .top_news, .under_news {display:inline;}
  .text_2 {margin-top: 10px;}
  .news_2 {margin: 15px;}
}
