body {
  margin: 0;
  background-color: #f8f9fa;
}
img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 50%;
  height: 30%;
  object-fit: contain;
}
.news_list {
  display: flex;
  flex-wrap: wrap;
}
.news_1 {
  margin-left: 10%;
  flex: 0 0 40%;
}
.table_list {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}
tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}
tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.news_2 {
  flex: 0 0 40%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and ( max-width:410px )
{
  h1 {text-align: center;}
  p {
    text-align: center;
  }
  .news_list {
  display:inline;
  }
  .table_list {
    width: 70%;
  }
}
