li {margin-left: 5px;}
ul {
  margin-top: 0;
  list-style: none;
}
a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: red;
}
.navbar a::after ,.scroll_bar a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  visibility: hidden;
}
a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}
.navbar {padding: .5rem 1rem;}
.nav-tabs {border-bottom: 1px solid #007bff;}
.dropdown-header {padding: .5rem 1.5rem;}
.dropdown-toggle {z-index: 2;}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
}
.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}
.dropdown-menu.show {display: block;}
.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 10rem;
  padding: .5rem 0;
  background: white;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  z-index: 2;
}
.gray.show {display: block;}
.gray {
  position:absolute;
  display: none;
  top: 0;
  left: 0;
  height:	100%;
  width: 100%;
  opacity:0.5;
  z-index: 1;
}
